.contHead {
    text-align: center;
    color: #14142b;
    font-weight: 550;
    font-size: 68px;
    width: 100%;
    margin-top: 8%;
}

.contactCont {
    text-align: center;
    font-size: 22px;
    color: #4e4b66;
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    gap: 14rem;
}

.column {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.email {
    color: #14142b;
}

.email:hover .emailA,
.email:hover i {
    color: grey;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.phone {
    color: #14142b;

}

.phone:hover {
    color: grey;
    transition: 0.3s ease-in-out;
}

.fas {
    transform: rotate(90deg);
    margin-right: 8px
}

.emailA {
    color: #14142b;
    text-decoration: none;
    margin-left: 8px
}

.emailA:hover {
    color: inherit;
}