.head {
    min-height: 100vh;
    max-width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
}

.projects {
    width: 100%;
}

.home {
    margin: 0;
    padding: 0;
}

.info {
    flex: 1;
}


.img {
    max-width: 50%;
}

.container {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
}

.name {
    font-size: 1.4rem;
    color: #4e4b66;
}

.desc {
    font-size: 3.5rem;
    color: #14142b;
    margin-top: 0.6rem;
    line-height: 4rem;
    font-weight: 700;
}

.btn1 {
    background-color: #14142b;
    color: white;
    width: 220px;
    height: 75px;
    text-align: center;
    border: none;
    border-radius: 40px;
    font-size: .9rem;
    font-weight: 550;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn1:hover {
    background-color: white;
    transition: 0.4s ease-in-out;
    color: #14142b;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(204, 204, 204);
}

@media(max-width: 998px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    }

    .name {
        font-size: 1rem;
        text-align: center;
    }

    .desc {
        font-size: 1.8rem;
        text-align: center;
        line-height: 2.4rem;
    }

    .info {
        flex-direction: column;
    }

    .btn1 {
        margin: 0 auto;
        width: 180px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 7rem;
    }

    .img {
        order: -1;
        margin-bottom: 2rem;
    }
}