.projectsPro {
    /* height: 100vh; */
    overflow: hidden;
    position: relative;
    margin: auto;
}

.para1 {
    font-size: 0.875rem;
    color: grey;
    margin-bottom: 5rem;
}

.headPro1 {
    color: #14142b;
    font-weight: 600;
    font-size: 55px;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    text-decoration: underline;
}

.project-img {
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    max-width: 100%;
}

.headersPro {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    margin-bottom: -80px;
}

.headPro2 {
    padding-top: 30px;
    color: #14142b;
    font-weight: 500;
    font-weight: 600;
    font-size: 1.25rem;
}

.paraPro2 {
    padding-top: 10px;
    color: #777990;
    font-size: 0.875rem;
}

.headPro3 {
    padding-top: 30px;
    color: #14142b;
    font-weight: 500;
    font-weight: 600;
    font-size: 1.25rem;
}

.paraPro3 {
    padding-top: 10px;
    color: #777990;
    font-size: 0.875rem;
}

.headPro4 {
    padding-top: 30px;
    color: #14142b;
    font-weight: 500;
    font-weight: 600;
    font-size: 1.25rem;
}

.paraPro4 {
    padding-top: 10px;
    color: #777990;
    font-size: 0.875rem;
}

.case {
    text-decoration: none;
    color: #14142b;
    font-weight: 600;
    font-size: 18px;
}

.second-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.case:hover {
    color: grey;
    transition: 0.3s ease-in-out;
}

.btnPro {
    background-color: #14142b;
    color: white;
    width: 150px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 40px;
    font-size: .9rem;
    font-weight: 550;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.btnPro:hover {
    background-color: white;
    transition: 0.4s ease-in-out;
    color: #14142b;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(204, 204, 204);
}

.node {
    display: inline-block;
    height: 37px;
    border: 0 solid rgb(9, 0, 126);
    border-width: 2px;
    padding: 0.25rem;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #14142b;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    flex-wrap: nowrap;
    align-items: center;
    /* Create a gap between skills */
}

.rowPro {
    gap: 10px;
    justify-content: center;
}

@media(max-width: 998px) {
    .headPro1 {
        font-size: 40px;
    }

    .headersPro {
        margin-bottom: -10rem;
    }

    .para1 {
        font-size: 16px;
        line-height: 1.7rem;
    }

    /* .second-row {
        width: 350px;
    } */

    .headPro2,
    .headPro3,
    .headPro4 {
        font-size: 20px;
    }


    .paraPro2,
    .paraPro3,
    .paraPro4 {
        font-size: 14px;

    }

    .btnPro {
        width: 120px;
        height: 35px;
        font-size: 12px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .node {
        height: 30px;
        padding: 0.2rem;
        font-size: 12px;
    }

    .rowPro {
        gap: 8px;
        flex-direction: column;
    }

    iframe {
        width: 320px;
        padding-top: 20px;
    }
}